/* ==========================================================================
   #HORIZONTAL-DEFINITION-LIST
   ========================================================================== */

/**
 * Inlines definitions terms with its descriptions
 *
 * Based on http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css/
 *
 * Example: http://codepen.io/mpslingshot/pen/ryGgvv
 */

/**
 * 1. CR and LF characters (000D, 000A, respectively). Newline characters.
 * 2. Lines are broken at newline characters in the source and at <br> elements.
 */
.o-horizontal-definition-list {

  dd + dt:before {
    content: "\D\A"; /* [1] */
    white-space: pre; /* [2] */
  }

  dt, dd {
    display: inline;
    margin: 0;
  }
}

/**
 * Generates classes for any breakpoint
 */
@mixin o-horizontal-definition-list($from: null, $until: null) {
  @include mq($from, $until) {

    .o-horizontal-definition-list#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {

      dd + dt:before {
        content: "\D\A";
        white-space: pre;
      }

      dt, dd {
        display: inline;
        margin: 0;
      }
    }

  }

}
