/* ==========================================================================
   #POSITION-MIDDLE
   ========================================================================== */

/**
 * Aligns objects in the middle horizontal and vertically
 *
 * Example: http://codepen.io/mpslingshot/pen/qrXrOV
 */

.o-position-middle {
  position: relative;
}

  .o-position-middle__item {
    position: absolute;
    left: 50%;
    top: 50%;
    // vendors should be added with post processing,
    // like https://github.com/postcss/autoprefixer
    transform: translate(-50%, -50%);
  }


/**
 * Generates classes for any breakpoint
 */
@mixin o-position-middle($from: null, $until: null) {
  @include mq($from, $until) {

    .o-position-middle#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      position: relative;
    }

    .o-position-middle__item#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      position: absolute;
      left: 50%;
      top: 50%;
      // vendors should be added with post processing,
      // like https://github.com/postcss/autoprefixer
      transform: translate(-50%, -50%);
    }
  }
}
