/* ==========================================================================
   #TABLE-LIST
   ========================================================================== */

/**
 * Table list to force each cell to be the same size and also easily enabling vertical alignment.
 * Might be superceded by Flexbox.
 *
 * Example: https://codepen.io/mpslingshot/pen/yKNwZe
 */

/**
 * 1. Removes floats (in case we're using other lists (Bootstrap, etc...))
 * 2. The layout is fixed based on the first row. Set the width of those, and the rest of the table follows.
 *    See https://css-tricks.com/fixing-tables-long-strings/
 */
.o-table-list {
  display: table;
  float: none; /* [1] */
  table-layout: fixed; /* [2] */
  width: 100%;
}

  .o-table-list__item {
    display: table-cell;
    float: none; /* [1] */
  }
