/* ==========================================================================
   #SPRITE
   ========================================================================== */

/**
 * Sprite object
 *
 * Example: http://codepen.io/mpslingshot/pen/jBGjOY
 */

$sprite-transition-duration: 0.3s !default;
$sprite-transition-time-function: ease !default;
$sprite-transition-delay: 0s !default;

.o-sprite {
  display: inline-block;
  background-position: top;
  background-repeat: no-repeat;
}

.o-sprite > .o-sprite__hover,
.o-sprite--pseudo:before {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: inherit;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  display: block;
}

.o-sprite--pseudo:before {
  content: " ";
}

.o-sprite:hover > .o-sprite__hover,
.o-sprite--pseudo:hover:before {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.o-sprite--inverted {
  background-position: bottom;
}

.o-sprite--inverted > .o-sprite__hover,
.o-sprite--pseudo.o-sprite--inverted:before {
  background-position: top;
}

.o-sprite--fade {

  .o-sprite__hover,
  &.o-sprite--pseudo:before {
    transition: opacity $sprite-transition-duration $sprite-transition-time-function $sprite-transition-delay;
  }
}

.o-sprite-parent:hover {

  .o-sprite__hover,
  .o-sprite--pseudo:before {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
}
