/* ==========================================================================
   #VERTICAL-MIDDLE
   ========================================================================== */

/**
 * Aligns objects in the middle vertically
 *
 * Example: https://codepen.io/rubenslingshot/pen/BWmNWN
 */

.o-vertical-middle {
  white-space: nowrap;

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.025em;
    vertical-align: middle;
  }
}

  .o-vertical-middle__item {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
  }


/**
 * Generates classes for any breakpoint
 */
@mixin o-vertical-middle($from: null, $until: null) {
  @include mq($from, $until) {

    .o-vertical-middle#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      white-space: nowrap;

      &:after {
        content: "";
        display: inline-block;
        height: 100%;
        margin-right: -0.025em;
        vertical-align: middle;
      }
    }

    .o-vertical-middle__item#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
    }
  }
}
