///* ========================================================================
//   #ASPECT-RATIO
//   ======================================================================== */

/**
 * Aspect ratio boxes
 * Can be used in conjunction with objects.vertical-middle and objects.position-middle
 *
 * Example: http://codepen.io/mpslingshot/pen/gmXpaN
 */

.u-aspect-ratio-1by1 {
  @include aspect-ratio();
}

.u-aspect-ratio-2by1 {
  @include aspect-ratio(2, 1);
}

.u-aspect-ratio-16by9 {
  @include aspect-ratio(16, 9);
}
