/* ==========================================================================
   #BOOTSTRAP-ROW-NO-PADDING
   ========================================================================== */

/**
 * Removes padding from bootstrap's column rows
 *
 * Example: http://codepen.io/mpslingshot/pen/gmXpaN
 */

.u-row-no-padding {
  margin-left: 0;
  margin-right: 0;

  > [class^="col-"],
  > [class*=" col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}


/**
 * Generates classes for any breakpoint
 */
@mixin u-row-no-padding($from: null, $until: null) {
  @include mq($from, $until) {

    .u-row-no-padding#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      margin-left: 0;
      margin-right: 0;

      > [class^="col-"],
      > [class*=" col-"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
