/* ==========================================================================
   #BOOTSTRAP-NAVBAR-CENTER
   ========================================================================== */

/**
 * Adds centered navbar behavior to bootstrap
 *
 * Example: http://codepen.io/mpslingshot/pen/GWMbYM
 */

.u-bootstrap-navbar-center {
  display: table;
  float: none;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}


/**
 * Generates classes for any breakpoint
 */
@mixin u-bootstrap-navbar-center($from: null, $until: null) {
  @include mq($from, $until) {

    .u-bootstrap-navbar-center#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
      display: table;
      float: none;
      margin-left: auto;
      margin-right: auto;
      table-layout: fixed;
    }
  }
}
