///* ========================================================================
//   #PSEUDO-ELEMENT
//   ======================================================================== */

/**
 * Defines common styles for pseudo elements
 */

@mixin pseudo-element($display: block, $position: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $position;
}
