///* ========================================================================
//   #ASPECT-RATIO
//   ======================================================================== */

/**
 * Aspect ratio boxes
 * Can be used in conjunction with objects.vertical-middle and objects.position-middle
 *
 * Example: http://codepen.io/mpslingshot/pen/gmXpaN
 */

/**
 * 1. Makes it compatible with objects.vertical-middle, instead of using display: block.
 */
@mixin aspect-ratio($width: 1, $height: $width, $after: true, $relative: true) {
  @if ($relative) {
    position: relative;
  }

  $pseudo: if($after, 'after', 'before');
  &::#{$pseudo} {
    content: '';
    display: inline-block; /* [1] */
    vertical-align: middle; /* [1] */
    padding-top: (($height / $width) * 100%);
  }
}


/**
 * Generates classes for any breakpoint
 */
@mixin o-aspect-ratio($width: 1, $height: $width, $from: null, $until: null) {
  @include mq($from, $until) {
    .o-aspect-ratio-#{$width}by#{$height}#{if($from, '-' + $from + '-up', '')}#{if($until, '-' + $until + '-down', '')} {
      @include aspect-ratio($width, $height)
    }
  }
}
