///* ========================================================================
//   #MEDIA-HELPERS
//   ======================================================================== */

@mixin media-width-below($max) {
  @include mq(null, $max) {
    @content
  }
}

@mixin media-width-between($min, $max) {
  @include mq($min, $max) {
    @content
  }
}

@mixin media-width-above($min) {
  @include mq($min) {
    @content
  }
}

// SM and above
@mixin media-sm {
  @include mq(sm) {
    @content
  }
}

// MD and above
@mixin media-md {
  @include mq(md) {
    @content
  }
}

// LG and above
@mixin media-lg {
  @include mq(lg) {
    @content
  }
}

// Works in XS
@mixin media-below-sm {
  @include mq(null, sm) {
    @content
  }
}

// Works in XS, SM
@mixin media-below-md {
  @include mq(null, md) {
    @content
  }
}

// Works in XS, SM, MD
@mixin media-below-lg {
  @include mq(null, lg) {
    @content
  }
}
